<p>home works!</p>

<!-- <div>
  <li *ngFor="let data of studentData">{{ data.name }}, {{ data.age }}</li>
</div> -->

<!-- <div>
  <a [routerLink]="['profile', { name: 'Aniket kumar', age: 20 }]"
    >Go to Profile</a
  >
</div> -->
<!-- 
<div>
  <table border="1">
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let std of studentData">
      <td>{{ std.id }}</td>
      <td>{{ std.name }}</td>
      <td>
        <a
          [routerLink]="['/profile']"
          [queryParams]="{
            id: std.id,
            name: std.name,
            age: std.age,
          }"
          >View Details</a
        >
      </td>
    </tr>
  </table>
</div> -->

<!-- <div>
  @for (user of users; track user.id) {
    <li>
      <a routerLink="user/{{ user.id }}/{{ user.name }}/{{ user.age }}">{{
        user.name
      }}</a>
    </li>
  }
</div> -->
