<!-- <div>{{ name.toUpperCase() }} and age : {{ age }}</div> -->

<!-- <app-counter-app></app-counter-app> -->

<!-- <app-todo-list></app-todo-list> -->

<app-header-component></app-header-component>

<router-outlet></router-outlet>
<!-- <app-user user="hello Kumar"></app-user> -->

<!-- <app-user [user]="userName"></app-user> -->

<!-- <app-user [users]="userData"></app-user> -->

<!-- <app-user name="Aniket" city="Bettiah"></app-user> -->

<!-- <app-user [students]="students"></app-user> -->

<app-child (hadleChildFun)="handleChild($event)"></app-child>

<div>
  @for (blog of blogs; track blog.id) {
    <div>
      <p>{{ blog.id }}</p>
      <p>{{ blog.title }}</p>
      <p>{{ blog.body }}</p>
    </div>
  }
</div>
