<h1>Login Form</h1>

<h1>Reactive form</h1>

<!-- <form action="" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" [formControl]="username" />
  <br />
  <br />
  <label for="password">Password</label>
  <input type="text" name="password" id="password" [formControl]="password" />
  <br />
  <br />
  <button type="button" (click)="HandleLoginForm()">Login</button>

  <button type="button"  (click)="HandleSetDefaultValue()" >Set Default Value</button>
</form> -->

<!-- <h1>{{ username.value }} {{ password.value }}</h1> -->
<form [formGroup]="loginForm" (ngSubmit)="HandleFormSubmit()">
  <label for="username">Username</label>
  <input type="text" id="username" formControlName="username" />

  <span
    *ngIf="
      username?.hasError('required') && (username?.dirty || username?.touched)
    "
    style="color: red"
  >
    Please enter username
  </span>

  <br />
  <br />

  <label for="email">Email</label>
  <input type="email" id="email" formControlName="email" />

  <span
    *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)"
    style="color: red"
  >
    Please enter email
  </span>

  <span
    *ngIf="email?.hasError('email') && (email?.dirty || email?.touched)"
    style="color: red"
  >
    Please enter a valid email
  </span>

  <br />
  <br />

  <label for="password">Password</label>
  <input type="password" id="password" formControlName="password" />

  <span
    *ngIf="
      password?.hasError('required') && (password?.dirty || password?.touched)
    "
    style="color: red"
  >
    Please enter password
  </span>

  <span
    *ngIf="
      password?.hasError('minlength') && (password?.dirty || password?.touched)
    "
    style="color: red"
  >
    Password must be at least 6 characters
  </span>

  <br />
  <br />

  <button type="submit" [disabled]="loginForm.invalid">Submit</button>
</form>

<hr />

<p>Form Valid: {{ loginForm.valid }}</p>
<p>Form Invalid: {{ loginForm.invalid }}</p>
