<h1>Register form</h1>
<form #userForm="ngForm" (ngSubmit)="addDetails(userForm)">
  <input
    #username="ngModel"
    required
    type="text"
    name="username"
    placeholder="username"
    ngModel
  />
  <span class="error" *ngIf="username.invalid && username.touched"
    >Name is Required</span
  >
  <br />
  <input type="text" name="email" placeholder="email" ngModel />
  <br />
  <input type="text" name="password" placeholder="*****" ngModel />
  <br />
  <select name="gender" id="gender" ngModel>
    <option value="notselected">Not select</option>
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
  <br />
  <input type="range" min="0" max="500" name="range" ngModel /> <br />

  <button [disabled]="userForm.invalid" type="submit">Submit</button>
</form>

<h3>{{ userDetails.username }}</h3>
<h3>{{ userDetails.gender }}</h3>
<h3>{{ userDetails.email }}</h3>
<h3>{{ userDetails.range }}</h3>
